@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #fff;
}


body {
  background-color: #000;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

}

.header-container {
  background-color: none;
}

.coinly-wrapper {
  padding: 3vh 0vw;
}

.coinly-text {
  position: relative;
  left: 35px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 2em;
  font-weight: 800;
  z-index: 1;
}

.coinly-homepage {
  text-decoration: none;
}

.banner-background {
  height: 30vh;
  position: relative;
  text-align: center;
  background-image: url('../src/Images/gradientBackground_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(80px);
  -webkit-filter: blur(80px);
}

.banner-container {
  max-width: 800px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 800;
  text-shadow: 0 0 10px #929292;
  position: absolute;
  max-width: 600px;
  top: 25vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;

}

.carousel-container {
  position: absolute;
  z-index: 1;
  height: 50%;
  display: flex;
  align-items: center;
  margin: 0 10%;
  width: 80%;
  max-height: 300px;
  transform: translate(0%, -30%);

}

.CarouselItem {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}


.coinstable-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 15vh;
}

.coinsable-header {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coinsable-header .text-1 {
  padding: 25px 0px;
  font-weight: 400;
  font-size: 1.2em;
}

.coinsable-header .text-2 {
  font-weight: 400;
  font-size: .8em;
  opacity: .5;
}


/*-------------INPUT BAR----------------------*/

.input_container {
  position: absolute;
  top: 10vh;
  align-items: center;

}

.question,
.question_default,
.question_label {
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 22px;
}

.question:focus {
  outline: 0;
}

.question {
  font-size: 1.2em;
  font-weight: 400;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 90%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden;
  /* Hack to make "rows" attribute apply in Firefox. */
}

/* Underline and Placeholder */
.question+.question_label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

.question:focus+.question_label {
  width: 90%;
}

.question:focus,
.question:valid {
  padding-top: -10px;
}

.question:focus+.question_label>.question_default,
.question:valid+.question_label>.question_default {
  top: -55px;
  font-size: .6em;
  color: #8F8F8F;
}

.question:valid+.question_label {
  border-color: green;
}

.question:invalid {
  box-shadow: none;
}

.question+.question_label>.question_default {
  font-weight: 400;
  margin: 0;
  position: absolute;
  color: #8F8F8F;
  font-size: 1em;
  top: -36px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.fa-magnifying-glass {
  opacity: .5;
  font-size: .7em;
  position: relative;
  bottom: 2.5px;
  right: 3px;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

.coinstable-wrapper {
  position: relative;
}

.whole-coinstable-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 300px;
}



@media only screen and (max-width: 490px) {
  .banner-text {
    padding: 0px 10px 0px 10px;
    font-size: 2em
  }

  .coinly-text {
    font-size: 1.5em;
  }
}